
/**
 *  file: cities.css
 *  author: luiz Henrique Pereira da Silva <lhpsilva.school@gmail.com>
 *  created: 20/06/2020
 *  updated: 20/06/2020
 *
 *  description: Este arquivo contém os estilos referentes a seção cities.
 */

.box img {
  width: 100%;
  height: auto;
  margin-bottom: 15px;
}

.city-feature {
  margin-bottom: 5px;
}

.city-feature a:link,
.city-feature a:visited {
  color: #e67e22;
  text-decoration: none;
  padding-bottom: 1px;
  border-bottom: 1px solid #e67e22;
  transition: border-bottom 0.2s, color 0.2s;
}

.city-feature a:hover,
.city-feature a:active {
  color: #555555;
  border-bottom: 1px solid transparent;
}